 body{
    font-family: sans-serif;
}
.container{}

.container div {}

.container .child1 {
    background: blue;
}

.container .child2 {
    background: rgb(255, 0, 230);
}

.container .child3 {
    background: rgb(55, 255, 0);
}